<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/public//stylesheets/style.css">
        <!-- <link rel="stylesheet" href="/1 bullsmarket/indexmain.css"> -->
        <link rel="stylesheet" href="/public/stylesheets/projectkits.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+1:wght@100..900&family=M+PLUS+1p&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:wght@300;400;500;700&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <a href="#">BullsMarket</a>

            <div class="header-middle-section">
                <input class="search-bar" type="text" placeholder="Search">
                <button class="search-button">
                    <img class="search-icon" src="/public/images/search-icon.png" alt="">
                </button>
            </div>

            <div class="header-right-section">
                <a class="register" href=""><img class="account-icon" src="/public/images/accimg.webp" alt=""></a>

            </div>
        </header>

        <aside>

        </aside>

        <section>
            <div class="products-grid js-products-grid">
                <div class="product">
                    <div class="product-image-container">
                        <img src="/public/images/books.webp" class="product-image">
                    </div>
                    <div class="product-text">
                        <div class="product-name">EGN lab </div>
                        <p class="owner-name">Abdukarim</p>
                        <h3 class="price">FREE</h3>
                        <button>Explore</button>
                        <p class="date">12092024</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image-container">
                        <img src="/public/images/books.webp" class="product-image">
                    </div>
                    <div class="product-text">
                        <div class="product-name">EGN lab </div>
                        <p class="owner-name">Abdukarim</p>
                        <h3 class="price">FREE</h3>
                        <button>Explore</button>
                        <p class="date">12092024</p>
                    </div>
                </div>
                
            </div>
        </section>
    </body>
</html>